@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply custom font */
@layer base {
   html {
      font-family: Poppins;
   }
}

.create-wrap {
   @apply lg:w-1/3
   lg:h-fit
  p-12
border
  shadow-xl
  rounded-lg
   px-8;
}

input {
   @apply border 
   py-2 px-4 
   rounded-lg
   shadow-md
   outline-sky-500  
   placeholder:text-gray-400;
}

.btn-primary {
   @apply text-white
   bg-gradient-to-br 
   from-purple-600 
   to-blue-500 
   hover:bg-gradient-to-bl 
   focus:ring-1
   focus:outline-none
 focus:ring-sky-600
   font-semibold
   rounded-full 
   px-5 py-2 
   text-center;
}

.store-wrap {
   @apply px-4 py-2
   flex flex-col gap-4;
}

.new-user-small {
   @apply flex justify-between items-center py-2 border px-8 rounded-lg shadow-md;
}

.new-user-big {
   @apply h-64 flex   py-4 border px-8 rounded-lg shadow-md flex-col justify-between  min-w-full;
}

.balance {
   @apply text-sky-600;
}

.btn-second {
   @apply text-white 
   bg-red-500 
   hover:bg-red-600 
   focus:outline-none 
   focus:ring-1 
   focus:ring-red-300 
   font-semibold
   rounded-full
   py-1
   px-4;
}

.btn-sec-1 {
   @apply bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300;
}
.btn-sec-2 {
   @apply bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-4 focus:ring-amber-300;
}

.btn-sec-3 {
   @apply bg-sky-500 hover:bg-sky-600 focus:outline-none focus:ring-4 focus:ring-sky-300;
}

/* .btn-span {
   @apply
} */

.messages-bin {
   position: fixed;
   top: 10px;
   right: 10px;
   display: flex;
   padding: 10px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: #ffffffaa;
}
